#e01_login{
    background-color: bisque;
    color: brown;
    width: 300px;
    padding: 10px;
    text-align: center;
}
hr{

    border: 2px solid brown;
}
p{
    color: black;
    font-weight: bold;
    text-align: left;
}

/* PASSWORD */
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
/*USERNAME*/
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }